<div class="form-group"></div>
<div class="row form-group">
  <div class="col-sm">
    <button type="button" class="btn btn-outline-primary btn-block" (click)="addRow()">
      <i class="fal fa-plus"></i>&nbsp; Row
    </button>
  </div>
</div>
<div class="row form-group">
  <div class="col-lg-12">
    <table class="table table-bordered table-striped table-sm">
      <thead class="thead-dark">
        <th scope="col">Date</th>
        <th scope="col">Start Time</th>
        <th scope="col">End Time</th>
        <th scope="col">Total Hours</th>
        <th scope="col"></th>
      </thead>
      <tbody>
        <tr *ngFor="let row of rows; index as i">
          <th>
            <input type="text" placeholder="MM-DD-YYYY" [(ngModel)]="row.date" class="form-control">
            <p class="text-center text-danger m-0" *ngIf="!row.valid_date">
              <small>Invalid Date</small>
            </p>
          </th>
          <th>
            <input type="text" placeholder="{{row.start_placeholder}}" class="form-control" [(ngModel)]="row.start_time">
            <p class="text-center text-danger m-0" *ngIf="!row.valid_start">
              <small>Invalid Time</small>
            </p>
          </th>
          <th>
            <input type="text" placeholder="{{row.end_placeholder}}" class="form-control" [(ngModel)]="row.end_time">
            <p class="text-center text-danger m-0" *ngIf="!row.valid_end">
              <small>Invalid Time</small>
            </p>
          </th>
          <th>
            <input type="number" class="form-control" [(ngModel)]="row.hours" disabled>
          </th>
          <th>
            <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteRow(i)" [disabled]="rows.length <= 1">
              <i class="fal fa-trash-alt"></i>
            </button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row form-group">
  <div class="col-sm">
    <button type="button" class="btn btn-outline-primary btn-block" (click)="addRow()">
      <i class="fal fa-plus"></i>&nbsp; Row
    </button>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <h2 class="text-center">
      <span>
        <b>Total:</b>&nbsp;
      </span>
      <span class="text-muted">{{total_hours}}</span>
    </h2>
  </div>
</div>
